@import "./variables.scss";

body {
    font-family: OpenSans, Arial, Helvetica, sans-serif
}

textarea {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 transparent;
    border: 0;
    border-radius: 0;
    background-color: $color-input-background;
    color: $color-input-text;
    padding: 10px;
    font-size: 16px;
}

input {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 transparent;
    border: 0;
    border-radius: 0;
    background-color: $color-input-background;
    color: $color-input-text;
    height: $height-input;
    padding: 10px;
    font-size: 16px;
}

input[type="number"] ~ .error {
    display: none;
    font-size: 12px;
    color: red;
}

input[type="number"]:invalid ~ .error {
    display: block;
    text-align: end;
    margin: 10px 0;
}

button {
    border-color: $color-agro-red;
    background: $color-agro-red;
    box-shadow: $box-shadow;
    height: $height-input;
    margin: 5px;
    font-weight: bold;
    border-radius: 2px;
    word-spacing: -2px;
    font-size: 14px;
    color: white;
    padding: 0 20px;
}

button.transparent{
    border: 1px solid $color-agro-red;
    background: transparent;
    color: $color-agro-red;
    box-shadow: none;
}

form {
    margin: 10px 0;
}

.layer {
    box-shadow: 0 14px 28px -18px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-flex-start {
    align-items: flex-start;
}

.flex-column {
    flex-direction: column;
}

.ui-radio {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;

    .label-wrap {
        display: flex;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;

    }

    .radio-wrap {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        cursor: pointer;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        margin-right: 5px;
    }

    .radio-input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        margin: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .custom-holder {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50%;
        cursor: pointer;

        width: 12px;
        height: 12px;
        border: none;
        background: #e7eeef;
        border: 5px solid #e7eeef;

        &::after {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            content: "";
        }
    }

    input:checked ~ .custom-holder {
        border: 5px solid $color-agro-red;
    }
}

.busy-loader {
    height: 16px;
    width: 16px;
    display: inline-block;

    border-radius: 50%;
    border: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;

    animation: rotate 1s infinite linear;
}

.toast {
    box-shadow: 0 6px 16px 10px rgba(27, 169, 76, 0.2);
    background-color: #1ba94c;
    color: #fff;
    overflow: hidden;
    padding: 15px 20px;
    max-width: 600px;
    line-height: 1.5;
    top: 50px;
    margin: auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    opacity: 1;
    transition: all 1s linear;
    display: flex;
    align-items: center;

    span {
        margin-left: 20px;
        font-size: 20px;
    }

    &--hide {
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}