// Colors
$color-agro-red: #9c0c0e;
$color-text: rgb(57, 66, 78);

// dimensions
$max-width: 1024px;
$header-height: 62px;

// global constants
$color-input-text: #0e141e;
$color-input-background: #f3f7f7;

// global dimensions
$height-input: 40px;

// fancy things
$box-shadow: 0 4px 12px 0 $color-agro-red;